<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Swamp Cooler</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="swampCooler.css">

  </head>
  <body>
      <p id = "degrees"> 72 Degrees </p>
      <button id = "on"> Fan Off </button>
      <button id = "low"> Fan Low </button> 
      <button id = "high"> Fan High </button>
      <button id = "on"> Pump On </button>
  </body>
</html>