body {
    text-align: center;
}

#temperature_text {
    font-size: 200px;
    vertical-align: top;
    color: #3d80ed;
}


#last_updated {
	font-size: 14px;
	color: #cecece;
}

button {
    margin-left: 2%;
}
